
config = {
  'auth_password': '',
  'auth_username': '',
  'count_speed': 0.05,
  'fetch_lifetime': 10,
  'highlight_cooldown': 2,
  'matrix_brightness': 50,
  'matrix_cols': 64,
  'matrix_hardware_mapping': 'adafruit-hat',
  'matrix_pwm_bits': 4,
  'matrix_pwm_lsb_nanoseconds': 400,
  'matrix_rows': 32
}
