
# Service integration
service_root = 'https://api.kescht.lu'
service_auth_token = ''

# Facts
count_speed = 0.01
polling_interval = 15
highlight_cooldown = 5
supplier_id = 11

# Matrix
matrix_brightness = 50
matrix_cols = 64
matrix_hardware_mapping = 'adafruit-hat'
matrix_pwm_bits = 4
matrix_pwm_lsb_nanoseconds = 400
matrix_rows = 32
