
# Service integration
service_root = 'https://metti.spaghettisfest.lu/api'
service_auth = ('', '')

# Facts
count_speed = 0.01
polling_interval = 15
highlight_cooldown = 5
store_id = 2

# Matrix
matrix_brightness = 50
matrix_cols = 64
matrix_hardware_mapping = 'adafruit-hat'
matrix_pwm_bits = 4
matrix_pwm_lsb_nanoseconds = 400
matrix_rows = 32
